*        text=auto
*.ts     text eol=lf merge=union
*.tsx    text eol=lf merge=union
*.rs     text eol=lf merge=union
*.js     text eol=lf merge=union
*.json   text eol=lf merge=union

# Generated NAPI files
rust/index.js                linguist-generated=true
rust/index.d.ts              linguist-generated=true
rust/*.wasi-browser.js       linguist-generated=true
rust/*.wasi.cjs              linguist-generated=true
rust/wasi-worker-browser.mjs linguist-generated=true
rust/wasi-worker.mjs         linguist-generated=true